project/project
project/target
target
tmp
.history
.idea
*.iml
/out
.idea_modules
.classpath
.project
.settings

# backup files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.cache
.target
bin/
